.signalk/red/flows_openplotter.json
[{"id":"7f2dad22d6f97a35","type":"tab","label":"Engine","disabled":false,"info":"","env":[]},{"id":"fa07d939e0a60247","type":"tab","label":"Engine Alarm Handling","disabled":false,"info":"","env":[]},{"id":"cb1de1f0bf14bb35","type":"tab","label":"Battery Alarm Handling","disabled":false,"info":"","env":[]},{"id":"6f6f1f866c2b96ca","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"headerContent":"none","navigationStyle":"none","titleBarStyle":"hidden","showReconnectNotification":true,"notificationDisplayTime":1,"showDisconnectNotification":true,"allowInstall":false},{"id":"27f51963ca057150","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094ce","bgPage":"#000000","groupBg":"#191c1d","groupOutline":"#191c1d"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"0px","widgetGap":"12px"}},{"id":"d67446cb33b4875c","type":"ui-page","name":"Alarm Page","ui":"6f6f1f866c2b96ca","path":"/page1","icon":"home","layout":"flex","theme":"27f51963ca057150","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"0c96f20c5140012c","type":"ui-theme","name":"KIP","colors":{"surface":"#ffffff","primary":"#0094ce","bgPage":"#000000","groupBg":"#191c1d","groupOutline":"#191c1d"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"0px","widgetGap":"12px"}},{"id":"e755479e6710a543","type":"ui-group","name":"Alarms","page":"d67446cb33b4875c","width":"5","height":1,"order":1,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"2b7a267f3346f3be","type":"signalk-subscribe","z":"7f2dad22d6f97a35","name":"Seawater Out Temperature","mode":"sendAll","flatten":true,"context":"vessels.self","path":"propulsion.main.seaWaterOutTemperature","source":"","period":1000,"x":170,"y":100,"wires":[["5026345f063fc79d"]]},{"id":"b6b2ce911319d8b4","type":"signalk-subscribe","z":"7f2dad22d6f97a35","name":"Seawater In Temperature","mode":"sendAll","flatten":true,"context":"vessels.self","path":"propulsion.main.seaWaterInTemperature","source":"","period":1000,"x":170,"y":180,"wires":[["5026345f063fc79d"]]},{"id":"5026345f063fc79d","type":"join","z":"7f2dad22d6f97a35","name":"","mode":"custom","build":"object","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":140,"wires":[["a580b288ed904b50"]]},{"id":"a580b288ed904b50","type":"function","z":"7f2dad22d6f97a35","name":"SeawaterDeltaTemperature [K]","func":"msg.payload = (msg.payload[\"propulsion.main.seaWaterOutTemperature\"].payload - msg.payload[\"propulsion.main.seaWaterInTemperature\"].payload) + 273.2;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":140,"wires":[["9ca80c872ce077be"]]},{"id":"9ca80c872ce077be","type":"signalk-send-pathvalue","z":"7f2dad22d6f97a35","name":"propulsion.main.seaWaterDeltaTemperature","path":"propulsion.main.seaWaterDeltaTemperature","source":"","meta":"{\"units\": \"K\"}","x":910,"y":140,"wires":[]},{"id":"ca2df344f780323a","type":"ui-template","z":"7f2dad22d6f97a35","group":"","page":"d67446cb33b4875c","ui":"","name":"CSS","order":0,"width":0,"height":0,"head":"","format":"html {\n    overflow-y: hidden;\n}\n","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"page:style","className":"","x":130,"y":700,"wires":[[]]},{"id":"7233b69014d83f0d","type":"signalk-subscribe","z":"fa07d939e0a60247","name":"Seawater Delta Notification","mode":"sendAll","flatten":true,"context":"vessels.self","path":"notifications.propulsion.main.seaWaterDeltaTemperature","source":"","period":1000,"x":190,"y":80,"wires":[["af7c562f3c4d8307"]]},{"id":"be618b301d905cab","type":"function","z":"fa07d939e0a60247","name":"Change Button Color","func":"var state = msg.payload;\n\nmsg = {ui_update: {}};\nmsg.ui_update.buttonColor = \"green\";\n\n//msg = { \"ui_update\": {\"buttonColor\": \"green\" }}\n\nif (state == \"warn\" ) \n   msg.ui_update.buttonColor = \"orange\";\n   //msg = { \"ui_update\": {\"buttonColor\": \"orange\" }}\nelse if (state == \"alarm\" ) \n   msg.ui_update.buttonColor = \"red\";\n   //msg = { \"ui_update\": {\"buttonColor\": \"red\" }}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":140,"wires":[["93effc950b6a97b2"]]},{"id":"93effc950b6a97b2","type":"ui-button","z":"fa07d939e0a60247","group":"e755479e6710a543","name":"","label":"Motor","order":1,"width":"2","height":"1","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":950,"y":140,"wires":[[]]},{"id":"af7c562f3c4d8307","type":"function","z":"fa07d939e0a60247","name":"Store + Combine States (Prioritised)","func":"let states = flow.get(\"states\") || {};\n// update input states\nstates[msg.topic] = msg.payload.state;\nflow.set(\"states\", states);\n\n// evaluate priority\nlet values = Object.values(states);\nlet result = \"nominal\";\n\nif (values.includes(\"alarm\")) {\n    result = \"alarm\"\n} else if (values.includes(\"warn\")) {\n    result = \"warn\";\n}\n\nmsg.payload = result;\nreturn msg;\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":140,"wires":[["be618b301d905cab"]]},{"id":"471cc7d87648fb61","type":"signalk-subscribe","z":"fa07d939e0a60247","name":"Coolant Notification","mode":"sendAll","flatten":true,"context":"vessels.self","path":"notifications.propulsion.main.coolantTemperature","source":"","period":1000,"x":170,"y":140,"wires":[["af7c562f3c4d8307"]]},{"id":"817ec52ad3b6570c","type":"function","z":"cb1de1f0bf14bb35","name":"Change Button Color","func":"var state = msg.payload;\n\nmsg = {ui_update: {}};\nmsg.ui_update.buttonColor = \"green\";\n\n//msg = { \"ui_update\": {\"buttonColor\": \"green\" }}\n\nif (state == \"warn\" ) \n   msg.ui_update.buttonColor = \"orange\";\n   //msg = { \"ui_update\": {\"buttonColor\": \"orange\" }}\nelse if (state == \"alarm\" ) \n   msg.ui_update.buttonColor = \"red\";\n   //msg = { \"ui_update\": {\"buttonColor\": \"red\" }}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":120,"wires":[["5804c79cce62c3ad"]]},{"id":"5804c79cce62c3ad","type":"ui-button","z":"cb1de1f0bf14bb35","group":"e755479e6710a543","name":"","label":"EL","order":2,"width":"2","height":"1","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":990,"y":120,"wires":[[]]},{"id":"f9d49b81be5233a6","type":"function","z":"cb1de1f0bf14bb35","name":"Store + Combine States (Prioritised)","func":"let states = flow.get(\"states\") || {};\n// update input states\nstates[msg.topic] = msg.payload.state;\nflow.set(\"states\", states);\n\n// evaluate priority\nlet values = Object.values(states);\nlet result = \"nominal\";\n\nif (values.includes(\"alarm\")) {\n    result = \"alarm\"\n} else if (values.includes(\"warn\")) {\n    result = \"warn\";\n}\n\nmsg.payload = result;\nreturn msg;\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":120,"wires":[["817ec52ad3b6570c"]]},{"id":"b306d12fbe0a42fa","type":"signalk-subscribe","z":"cb1de1f0bf14bb35","name":"House Voltage Notification","mode":"sendAll","flatten":true,"context":"vessels.self","path":"notifications.electrical.batteries.house.voltage","source":"","period":1000,"x":150,"y":60,"wires":[["f9d49b81be5233a6"]]},{"id":"e3c3e7c52d411cdf","type":"signalk-subscribe","z":"cb1de1f0bf14bb35","name":"Starter Voltage Notification","mode":"sendAll","flatten":true,"context":"vessels.self","path":"notifications.electrical.batteries.starter.voltage","source":"","period":1000,"x":150,"y":120,"wires":[["f9d49b81be5233a6"]]},{"id":"f13c939b20c52f9e","type":"http request","z":"cb1de1f0bf14bb35","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/signalk/v1/api/vessels/self/notifications/electrical/batteries/starter/voltage","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":290,"y":360,"wires":[["98ce26e878df5732","4c5478215e58ba89"]]},{"id":"86d1855cf398e0b8","type":"inject","z":"cb1de1f0bf14bb35","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":110,"y":360,"wires":[["f13c939b20c52f9e"]]},{"id":"98ce26e878df5732","type":"function","z":"cb1de1f0bf14bb35","name":"function 1","func":"msg.payload.state = msg.payload.value.state;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":300,"wires":[[]]},{"id":"4c5478215e58ba89","type":"debug","z":"cb1de1f0bf14bb35","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":420,"wires":[]}]